<a href="https://colab.research.google.com/github/Kchristy007/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#operation program
print("Choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit")
n1=input("Enter the choice of operation : ")
n=int(n1)
if(n==1):
  print("You have choosen addition operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a+b
  print("The Result",a,"+",b,"=",c)
elif(n==2):
  print("you have choosen subtraction operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a-b
  print("The Result",a,"-",b,"=",c)
elif(n==3):
  print("you have choosen division operation.")
  a1=input("Enter thr value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The Result",a,"/",b,"=",c)
elif(n==4):
  print("you have choosen multiplication operation.")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a*b
  print("The Result",a,"*",b,"=",c)
elif(n==5):
  print("quit the operation")
  exit()

Choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit
Enter the choice of operation : 3
you have choosen division operation.
Enter thr value for A: 30
Enter the value for B: 20
The Result 30 / 20 = 1.5

In [ ]:
x=10
x+=1
print(x)

11

In [ ]:
x=10
x-=1
print(x)

9

In [ ]:
x=5
x*=5 
print(x)

25

In [ ]:
#fibonacci series
print("Fibonacci Series")
n1=input("Enter the number: ")
n=int(n1)
if(n>0):
  f=0
  s=1
  i=0
  next=0
  while(1):
    print("\n\n*******************************************")
    for i in range(n+1):
      if(i<=1):
        print(i)
      else:
        next=f+s
        f=s
        s=next
        print(next)
    i=i+1
    break
else:
  print("you have entered wrong input",n)
  exit()

Fibonacci Series
Enter the number: 10


*******************************************
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
#arithmetic operation
value1=eval(input("Enter the first number: "))
value2=eval(input("Enter the second number: "))
sum=value1+value2
print(value1,'+',value2,'=',sum)

Enter the first number: 30
Enter the second number: 24
30 + 24 = 54

In [ ]:
#arithmetic operators
x=30
y=24
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)
print('x**y=',x**y)

x+y= 54
x-y= 6
x*y= 720
x/y= 1.25
x//y= 1
x**y= 282429536481000000000000000000000000

In [ ]:
#comparsion operators
x=10
y=5
print("x > y is",x>y)
print("x < y is",x<y)
print("x == y is",x==y)
print("x != y is",x!=y)
print("x >= y is",x>=y)
print("x <= y is",x<=y)

x > y is True
x < y is False
x == y is False
x != y is True
x >= y is True
x <= y is False

In [ ]:
#logical operators
x=True
y=False
print("x and y is", x and y)
print("x or y is", x or y)
print("not x is",  not x)

x and y is False
x or y is True
not x is False

In [ ]:
#identity operators
x1=5
y1=5
x2='Hello'
y2='Hello'
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is not y3)

False
True
True

In [ ]:
#membership operators
x='Hello World'
y={1:'a',2:'b'}
print('E' in x)
print("hello" not in x)
print(2 in y)
print('a' in y)

False
True
True
False

In [ ]:
#shift operators
a=15
b=-15
print("a>>1=",a>>1)
print("b>>1=",b>>1)

a>>1= 7
b>>1= -8

In [ ]:
#boolean expression
a=True
b=False
print('a=',a,'b=',b)
a=True
print('a=',a,'b=',b)

a= True b= False
a= True b= False

In [ ]:
#simple if statement
dividend,divisor =eval(input("Enter the two number to divide: "))
if(divisor != 0):
  print(dividend,'/',divisor,'=',dividend/divisor)

Enter the two number to divide: 30,5
30 / 5 = 6.0

In [ ]:
#Multi-way decision statements
value= eval(input("Enteran integer in the range 0....5: "))
if value<0:
  print('Too small')
else:
  if value==0:
    print("Zero")
  else:
    if value==1:
      print("One")
    else:
      if value==2:
        print("Two")
      else:
        if value==3:
          print("Three")
        else:
          if value==4:
            print("Four") 
          else:
            if value==5:
              print("Five")
            else:
               print("Too large")
print("Done")

Enteran integer in the range 0....5: 5
Five
Done

In [ ]:
#nested conditional
value=eval(input("Enter an integer value inthe range 0....10: "))
if value>=0:
  if value<=10:
    print(value,"is in the range.")
  else:
    print(value,"is too large.")
else:
  print(value,"is too small.")
print("done")

Enter an integer value inthe range 0....10: 9
9 is in the range.
done

In [ ]:
entry=0
sum=0
print("Enter numbers to sum,negative number end list: ")
while entry>=0:
  entry=eval(input())
  if entry>=0:
    sum+=entry
print("Sum =", sum)

Enter numbers to sum,negative number end list:
5
6
8
9
9
69
56
68
-56
Sum = 230

In [ ]:
#indefinite loop
done =False 
while not done:
  entry=eval(input())
  if entry==999:
    done=True
  else:
    print(entry)

98
98
5
5
999

In [ ]:
#nested loops
print(" 1  2  3  4  5  6  7  8  9  10")
print(" +---------------------------")
for row in range(1,11):
  if row<10:
    print(" ",end="")
  print(row, "| ",end="")
  for column in range(1,11):
    product = row+column;
    if product<100:
      print(end="")
    if product<10:
      print(end="")
    print(product,end="")
  print()

 1  2  3  4  5  6  7  8  9  10
 +---------------------------
 1 | 234567891011
 2 | 3456789101112
 3 | 45678910111213
 4 | 567891011121314
 5 | 6789101112131415
 6 | 78910111213141516
 7 | 891011121314151617
 8 | 9101112131415161718
 9 | 10111213141516171819
10 | 11121314151617181920

In [ ]:
#abnormal looping-break statement
entry=0
sum=0
print("Enter numbers t0 sum,negative number ends list:")
while True:
  entry=eval(input())
  if entry<0:
    break
    sum +=entry
print("Sum=",sum)

Enter numbers t0 sum,negative number ends list:
65
96
35
-56
Sum= 0